<?xml version="1.0"?>
<robot name="BRT7K" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="wheel_radius" default="0.03660"/> 
  <xacro:arg name="wheel_width" default="0.0200"/> 
  <xacro:arg name="wheel_y" default="0.1610"/>

  <xacro:arg name="gripper_x" default="0.3"/>
  <xacro:arg name="gripper_y" default="0.2"/>
  <xacro:arg name="gripper_z" default="0.1"/>
  <xacro:arg name="gripper_yaw" default="0.0"/>

  <xacro:property name="base_length" value="0.425"/> 
  <xacro:property name="base_width"  value="0.389"/> 
  <xacro:property name="base_height" value="0.004"/> 

  <xacro:property name="wheel_radius" value="$(arg wheel_radius)"/>
  <xacro:property name="wheel_width"  value="$(arg wheel_width)"/>
  <xacro:property name="wheel_x"      value="0.0"/>   
  <xacro:property name="wheel_y"      value="$(arg wheel_y)"/>
  <xacro:property name="wheel_z"      value="0.0"/> 

  <xacro:property name="gripper_x" value="$(arg gripper_x)"/>
  <xacro:property name="gripper_y" value="$(arg gripper_y)"/>
  <xacro:property name="gripper_z" value="$(arg gripper_z)"/>
  <xacro:property name="gripper_yaw" value="$(arg gripper_yaw)"/>
  <xacro:property name="gripper_length" value="0.1"/>
  <xacro:property name="gripper_width" value="0.1"/>
  <xacro:property name="gripper_height" value="0.1"/>

  <xacro:property name="laser_x" value="0.0"/> 
  <xacro:property name="laser_y" value="0.0"/> 
  <xacro:property name="laser_z" value="0.29"/> 
  <xacro:property name="laser_roll" value="3.14159265359"/>
  <xacro:property name="laser_yaw" value="0.0"/>

  <xacro:property name="imu_x" value="0.0"/>
  <xacro:property name="imu_y" value="0.0"/>
  <xacro:property name="imu_z" value="0.04"/>

  <xacro:property name="mag_x" value="0.0"/>
  <xacro:property name="mag_y" value="0.0"/>
  <xacro:property name="mag_z" value="0.04"/>

  <xacro:property name="camera_x" value="-0.03172"/>
  <xacro:property name="camera_y" value="0.0"/> 
  <xacro:property name="camera_z" value="0.2402"/> 
  <xacro:property name="camera_p" value="0.3562"/> 

  <material name="blue">
    <color rgba="0.2 0.4 0.8 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.2 0.8 0.2 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.2 0.2 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="-0.003435 -0.000615 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/BRT7K.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
   
    <collision>
      <origin xyz="0.215 0.155 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.09 0.10"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.215 -0.155 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.09 0.10"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.10 0.0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.41 0.4 0.10"/>
      </geometry>
    </collision>
  </link>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:macro name="wheel" params="name x y z">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

  <xacro:wheel name="left_wheel_link"  x="${wheel_x}" y="${wheel_y}"  z="${wheel_z}"/>
  <xacro:wheel name="right_wheel_link" x="${wheel_x}" y="-${wheel_y}" z="${wheel_z}"/>

  <xacro:macro name="gripper" params="name x y z yaw mesh_file visual_x visual_y visual_z">
    <link name="${name}">
      <visual>
        <origin xyz="${visual_x} ${visual_y} ${visual_z}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot_description/meshes/${mesh_file}" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="${gripper_length/2.0} 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${gripper_length} ${gripper_width} ${gripper_height}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="revolute">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw}"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="3.145" effort="1.0" velocity="1.0"/>
    </joint>
  </xacro:macro>

  <xacro:gripper
    name="left_gripper_link"
    x="${gripper_x}"
    y="${gripper_y}"
    z="${gripper_z}"
    yaw="${gripper_yaw}"
    mesh_file="gripper_left.stl"
    visual_x="0.106920"
    visual_y="-0.165493"
    visual_z="-0.031400"/>

  <xacro:gripper
    name="right_gripper_link"
    x="${gripper_x}"
    y="-${gripper_y}"
    z="${gripper_z}"
    yaw="-${gripper_yaw}"
    mesh_file="gripper_right.stl"
    visual_x="-0.106894"
    visual_y="-0.165477"
    visual_z="-0.019400"/>

  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.04"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_link"/>
    <origin xyz="${laser_x} ${laser_y} ${laser_z}" rpy="${laser_roll} 0 ${laser_yaw}"/>
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.145"/>
      <geometry>
        <box size="0.03 0.02 0.01"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="${imu_x} ${imu_y} ${imu_z}" rpy="0 0 3.145"/>
  </joint>

  <link name="magnetometer_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="magnetometer_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnetometer_link"/>
    <origin xyz="${mag_x} ${mag_y} ${mag_z}" rpy="0 0 0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.03 0.03"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="${camera_x} ${camera_y} ${camera_z}" rpy="0 ${camera_p} 0"/>
  </joint>

  <link name="camera_optical_link"/>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

</robot>